@charset "utf-8";

/**font(Pretendard)**/
@font-face {
	font-family: 'Pretendard';
	src: url('../font/Pretendard-Regular.woff2') format('woff2'),
		url('../font/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'PretendardBold';
	src: url('../font/Pretendard-SemiBold.woff2') format('woff2'),
		url('../font/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'PretendardExtraBold';
	src: url('../font/Pretendard-ExtraBold.woff2') format('woff2'),
		url('../font/Pretendard-ExtraBold.woff') format('woff');
}

/*confing*/
:root {
	--main-color: #5768F6; /*blue*/
	--sub-color-1: linear-gradient(90deg, #5768F6 0%, #579FFB 100%); /*gradient*/
	--sub-color-2: #F9F9F9; /*grey*/
	--sub-color-3: #FFFFFF; /*white*/
	--sub-color-4: #0DC9B9; /*light-blue*/
	--font-color: #404040;
	--border-color: #323233;
}

html, body {
	margin: 0;
	padding: 0;
	/* width: 100%;
	height: 100%; */
	width : 100vw;
	height : 100vh;
	font: 14px 'Pretendard';
	color: var(--font-color);
	letter-spacing: -0.02rem;
	overflow: hidden;
	overflow-x: auto;
}

* {
	margin: 0;
	padding: 0;
}

div, span{
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

a, a:focus, img{
	border: 0;
}

ol, ul, dl, li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

form {
	/* float: left; */
	display: inline-block;
	width: 100%;
	height: 100%;
}

button, button:focus, input, input:focus {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-shadow: none;
}

/* input[type="text"], input[type="password"], input[type="date"] {
	box-sizing: border-box;
	float: left;
	padding: 0 10px;
	outline: none;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	background: #FFF;
	font: 1.5rem 'Pretendard';
	color: var(--font-color);
}
	input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus {
		border-radius: 5px;
		border: 1px solid var(--main-color);
		transition: all 0.5s linear;
	} */

.hidden {
	display: none;
}