.container {
  width:100%;
  /* height:100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container * {
  margin: 10px;
  text-align: center;
}

.wrap-form {
  min-width: 40%;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
}

.wrap-form div {
  width: 90%;
}

.clock-wrap {
  padding: 10px 0;
  font-size: 17pt;
  font-weight: bold;
  color:rgb(139, 62, 241);
}

.weather-wrap {
  padding: 10px 0;
  border-top: 1px dotted gray;
}

  .weather-wrap > h2 > .today-weather {
    color:slateblue;
  }

.login-wrap {
  padding: 10px 0;
  border-top: 1px dotted gray;
}

  .login-wrap > .login-title {
    font: 1.7em 'PretendardBold';
  }

  .login-wrap > .login-form input {
    width:30%;
    height:30px;
    background-color: #fff;
    border: 1px solid black;
    font: 1.2em 'PretendardBold';
  }

  button {
    /* margin: 5px;
    padding: 6px 18px;   */
    font-size: 14px;
    font-weight: bold;
    color: white;
  }

  .btn-login {
    width:10%;
    height:40px;
    background-color: #1310e2;
  }

  .btn-logout {
    width:100%;
    height:35px;
    background-color: #f43535;
  }

.todolist-wrap {
  padding: 10px 0;
  border-top: 1px dotted gray;
}

#form-todolist input {
  width: 70%;
  height:35px;
  background-color: #fff;
  border: 1px solid black;
  font: 1.2em 'PretendardBold';
}

.btn-todo {
  width:7%;
  height:35px;
  background-color: #1310e2;
}

.todos_wrap {
  width:100%;
  font: 1.5em 'PretendardBold';
  text-align: left;
}

.todo-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid #ddd;
}

  .todo-item > .todo {
    font-size: 1.3rem;
    padding: 0 1rem;
    width: 80%;
    text-align: left;
  }

.btn-delete {
  opacity: 1;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: lighter;
  cursor: pointer;
  color:black;
}